@{
    ViewData["Title"] = "Home Page";
    var RolDeSesion = Context.Session.GetString("Rol");

}

@model tl2_tp10_2023_juanigramajo.ViewModels.Tableros.ListarTablerosViewModel

@if (TempData["ErrorMessage"] != null)
{
<div class="alert alert-danger">
    @TempData["ErrorMessage"]
</div>
}

<h2>Mis Tableros</h2>

<table class="table table-success table-striped">
    <thead>
        <tr>
            <th hidden>ID</th>
            <th>Id usuario propietario</th>
            <th>Nombre</th>
            <th>Descripcion</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var tab in Model.ListadoMisTableros)
        {
            <tr>
                <td hidden>@tab.Id</td>
                <td >@tab.IdUsuarioPropietario</td>
                <td>@tab.Nombre</td>
                <td>@tab.Descripcion</td>
                <td>
                    @if (RolDeSesion == "Administrador")
                    {
                        <a asp-controller="Tablero" asp-action="EditarTablero" asp-route-idTablero="@tab.Id" class="btn btn-info">Editar</a>
                        <a asp-controller="Tablero" asp-action="DeleteTablero" asp-route-idTablero="@tab.Id" onclick="return confirm('¿Estás seguro que quieres eliminar el tablero?')" class="btn btn-outline-danger">Eliminar</a>                      
                    } else
                    {
                        <span class="text-danger">No tienes permiso para editar o eliminar tableros.</span>
                    }    
                </td>
            </tr>
        }
    </tbody>
</table>


<h2>Explorar más tableros</h2>

<table class="table table-success table-striped">
    <thead>
        <tr>
            <th hidden>ID</th>
            <th>Id usuario propietario</th>
            <th>Nombre</th>
            <th>Descripcion</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var tab in Model.ListadoTableros)
        {
            <tr>
                <td hidden>@tab.Id</td>
                <td >@tab.IdUsuarioPropietario</td>
                <td>@tab.Nombre</td>
                <td>@tab.Descripcion</td>
                <td>
                    @if (RolDeSesion == "Administrador")
                    {
                        <a asp-controller="Tablero" asp-action="EditarTablero" asp-route-idTablero="@tab.Id" class="btn btn-info">Editar</a>
                        <a asp-controller="Tablero" asp-action="DeleteTablero" asp-route-idTablero="@tab.Id" onclick="return confirm('¿Estás seguro que quieres eliminar el tablero?')" class="btn btn-outline-danger">Eliminar</a>                      
                    } else
                    {
                        <span class="text-danger">No tienes permiso para editar o eliminar tableros.</span>
                    }    
                </td>
            </tr>
        }
    </tbody>
</table>