
@model tl2_tp10_2023_juanigramajo.ViewModels.Usuarios.HerramientasUsuariosViewModel

@if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-danger">
        @TempData["ErrorMessage"]
    </div>
}

<form asp-controller="Login" asp-action="Login" method="post">
    <div class="form-group">
        <label asp-for="@Model.LoginVM.NombreDeUsuario"></label>
        <input asp-for="@Model.LoginVM.NombreDeUsuario" class="form-control"/>
        <span asp-validation-for="@Model.LoginVM.NombreDeUsuario" class="text-danger"></span>    
    </div>

    <div class="mb-3" class="form-group">
        <label asp-for="@Model.LoginVM.Password"></label>
        <input asp-for="@Model.LoginVM.Password" class="form-control" />
        <span asp-validation-for="@Model.LoginVM.Password" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-info">Iniciar Sesión</button>

    @if (TempData["MensajeError"] != null)
    {
        <div class="mt-3 alert alert-danger">
            @TempData["MensajeError"]
        </div>

        <a asp-controller="Usuario" asp-action="CrearUsuario" class="btn btn-outline-info">Crear usuario</a>
    }
</form>

@section Scripts { <partial name="_ValidationScriptsPartial" /> }