
@model tl2_tp10_2023_juanigramajo.ViewModels.Usuarios.HerramientasUsuariosViewModel


<form asp-controller="Usuario" asp-action="CrearUsuario">

    <div class="mb-3" class="form-group">
        <label asp-for="@Model.CrearUsuarioVM.NombreDeUsuario" class="form-label"></label>
        <input asp-for="@Model.CrearUsuarioVM.NombreDeUsuario" class="form-control"/>
        <span asp-validation-for="@Model.CrearUsuarioVM.NombreDeUsuario" class="text-danger"></span>
    </div>

    <div class="mb-3" class="form-group">
        <label asp-for="@Model.CrearUsuarioVM.Password" class="form-label"></label>
        <input asp-for="@Model.CrearUsuarioVM.Password" class="form-control"/>
        <span asp-validation-for="@Model.CrearUsuarioVM.Password" class="text-danger"></span>
    </div>

    @if (Model.RolDeSesion == "Administrador")
    {
        <div class="mb-3" class="form-group">
            <label asp-for="@Model.CrearUsuarioVM.RolDelUsuario" class="form-label"></label>
            <select asp-for="@Model.CrearUsuarioVM.RolDelUsuario" class="form-select" aria-label="Default select example">
                <option value="Administrador">Administrador</option>
                <option value="Operador" selected>Operador</option>
            </select>
            <span asp-validation-for="@Model.CrearUsuarioVM.RolDelUsuario" class="text-danger"></span>
        </div>
    } else
    {
        <input type="hidden" asp-for="@Model.CrearUsuarioVM.RolDelUsuario" value="Operador"/>
        <p>Su rol estará fijado como Operador debido a falta de permisos.</p>
    }

    <button type="submit" class="btn btn-info">Crear</button>
</form>


@section Scripts { <partial name="_ValidationScriptsPartial" /> }