
@model tl2_tp10_2023_juanigramajo.ViewModels.Usuarios.HerramientasUsuariosViewModel

<form asp-controller="Usuario" asp-action="EditarUsuario">
    <input hidden asp-for="@Model.ModificarUsuarioVM.Id">

    <div class="mb-3" class="form-group">
        <label asp-for="@Model.ModificarUsuarioVM.NombreDeUsuario" class="form-label"></label>
        <input asp-for="@Model.ModificarUsuarioVM.NombreDeUsuario" class="form-control"/>
    </div>

    <div class="mb-3" class="form-group">
        <label asp-for="@Model.ModificarUsuarioVM.Password" class="form-label"></label>
        <input asp-for="@Model.ModificarUsuarioVM.Password" class="form-control"/>
    </div>

    @if (Model.RolDeSesion == "Administrador" && Model.ModificarUsuarioVM.NombreDeUsuario == Model.NombreDeSesion)
    {
        <div>
            <span class="text-danger">No puedes bajar tu propio rango a uno distinto de administrador.</span>
        </div>
    } else
    {
        <div class="mb-3" class="form-group">
            <label asp-for="@Model.ModificarUsuarioVM.RolDelUsuario" class="form-label"></label>
            <select asp-for="@Model.ModificarUsuarioVM.RolDelUsuario" class="form-select" aria-label="Default select example">
                <option value="Administrador">Administrador</option>
                <option value="Operador">Operador</option>
            </select>
        </div>
    }

    <button type="submit" class="btn btn-info">Editar</button>
</form>


@section Scripts { <partial name="_ValidationScriptsPartial" /> }