
@model Usuario

<form asp-controller="Usuario" asp-action="EditarUsuario">
    <input hidden asp-for="@Model.Id">
    <div class="mb-3" class="form-group">
        <label asp-for="@Model.Id" class="form-label"></label>
        <input asp-for="@Model.Id" class="form-control"/>
    </div>

    <div class="mb-3" class="form-group">
        <label asp-for="@Model.NombreDeUsuario" class="form-label"></label>
        <input asp-for="@Model.NombreDeUsuario" class="form-control"/>
    </div>

    <button type="submit" class="btn btn-info">Editar</button>
</form>

