@{
    ViewData["Title"] = "Home Page";
}

@model tl2_tp10_2023_juanigramajo.ViewModels.Usuarios.ListarUsuariosViewModel

<h2>Listado de Usuarios</h2>

<table class="table table-success table-striped">
    <thead>
        <tr>
            <th hidden>ID</th>
            <th>Nombre</th>
            <th>Rol</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model.ListadoUsuarios)
        {
            <tr>
                <td hidden>@user.Id</td>
                <td>@user.NombreDeUsuario</td>
                <td>@user.RolDelUsuario</td>
                <td>
                    @if (ViewBag.Rol == "Administrador")
                    {
                        <a asp-controller="Usuario" asp-action="EditarUsuario" asp-route-idUsuario="@user.Id" class="btn btn-info">Editar</a>
                        <a asp-controller="Usuario" asp-action="DeleteUsuario" asp-route-idUsuario="@user.Id" onclick="return confirm('¿Estás seguro que quieres eliminar el usuario?')" class="btn btn-outline-danger">Eliminar</a>                      
                    } else
                    {
                        <span class="text-danger">No tienes permiso para editar o eliminar usuarios.</span>
                    }    
                </td>
            </tr>
        }
    </tbody>
</table>


